.mainimage {
     height: 300px;
     width: 300px;
     display: block;
     margin-left: auto;
     margin-right: auto;


}

.imagediv {
     background-color: #FFE4C9;
}

h2 {
     margin-top: 10px;
     margin-bottom: 100px;
}

.mainheading {
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 15px;
     margin-bottom: 150px;
}

.card {
     /* background-color: #c3cbdc;
     background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%); */
     color: #503C3C;
}