.imagediv {
     background-color: #FFE4C9;
}

h2 {
     margin-top: 10px;
     margin-bottom: 100px;
}

.mainheading {
     text-align: center;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 15px;
     margin-bottom: 150px;
     margin-top: 40px;
}

.card {

     color: #503C3C;
}